<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.comunio.grupo8.comunio" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".StartActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:label="@string/title_activity_register"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".MenuStartedActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UserLoginActivity"
            android:label="@string/title_activity_user_login"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.menuUsuario.comunio.UserMenuActivity"
            android:label="@string/title_player_menu"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.menuUsuario.comunio.NewsActivity"
            android:label="@string/title_section1"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.comunio.grupo8.comunio.MJugadores"
            android:label="@string/title_section6"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name="com.comunio.grupo8.comunio.MNews"
            android:label="@string/title_section1"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name="com.comunio.grupo8.comunio.MClasificacion"
            android:label="@string/title_section5"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name="com.comunio.grupo8.comunio.MMercado"
            android:label="@string/title_section4"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name="com.comunio.grupo8.comunio.MAlineacion"
            android:label="@string/title_section3"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name="com.comunio.grupo8.comunio.MEquipo"
            android:label="@string/title_section7"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
    </application>

</manifest>
